/client/rank/node_modules
/client/rank/.idea
/client/rank/dist
/server/rank-reason/acount.py
server/rank-reason/aviation_rank_list.json
server/rank-reason/UnnormalReason.json
server/rank-reason/json_xlsx.py
